<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957672876662-blj4mkcist6ibli1va83amkivia9mva5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957672876662-blj4mkcist6ibli1va83amkivia9mva5</string>
	<key>API_KEY</key>
	<string>AIzaSyAKUe5kGp3iRgypPRg2NcYOWNLGMWVzRpg</string>
	<key>GCM_SENDER_ID</key>
	<string>957672876662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DesmondWong.FireChatApp</string>
	<key>PROJECT_ID</key>
	<string>firechatapp-98e6a</string>
	<key>STORAGE_BUCKET</key>
	<string>firechatapp-98e6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957672876662:ios:2d96ace255cc9326498d57</string>
	<key>DATABASE_URL</key>
	<string>https://firechatapp-98e6a.firebaseio.com</string>
</dict>
</plist>